:root {
  --border-color: rgb(255, 193, 203);
  --background: rgb(230, 240, 230);
  --front-bg: rgb(162, 227, 243);
  --front-bg-darken: rgb(112, 177, 193);
  --shadow: rgba(0, 0, 0, 0.1);
  --drop-shadow: rgba(0, 0, 0, 0.5);
  --text: #331717;
}



  


html,
body{
  display: flex;
  justify-content:center ;
  align-items: center;
  height:100vh;
  width:100%;
  background: linear-gradient(-45deg, #f8a0bc, #f47199, #fc5f86, #ef2a66,#ef0640 );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.hearthand{
    position: relative;
  margin-left: 1000px;
  width: 300px;
 cursor: pointer;
  flex: 1;
  text-align: center;
  margin-top: 5px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 40px;
  
  /* shorthand */
  border-radius: 50px;
}
.hearthand2{
  position: relative;
  margin-right: 1000px;
  width: 300px;
 cursor: pointer;
  flex: 1;
  text-align:center ;
  margin-top: 5px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-top-left-radius: 10px;
border-top-right-radius: 20px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 40px;

/* shorthand */
border-radius: 50px;
}



.text{
  position: absolute;
  top:0px ;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  font-weight: 900;
  background-image: linear-gradient(109.6deg, rgba(48,207,208,1) 11.2%, rgba(51,8,103,1)92.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color:transparent;
  filter: brightness(1.85);
  }


.card {
  position: absolute;
  bottom: 50px;
  width: 425px;
  height: 300px;
  border: 10px solid var(--border-color);
  margin: 20px auto;
  box-shadow: inset 10px 0px 15px 0px var(--shadow);
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.card .textContainer {
  width: 80%;
  height: 80%;
  margin: 80 px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 2px;
  
}

.card .textContainer #header {
  font-size: 1.5rem;
  margin : 10px auto;
  text-align: center;
  
}

.card p {
  font-family: 'Roboto';
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--text);
  font-style: italic;
  text-align: center;
  margin-left: 70px auto;
  margin-top: 1px;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid var(--border-color);
  backface-visibility: hidden;

    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transform: perspective(800px) rotateX(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateX(170deg);
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid var(--border-color);
  margin: -10px 0px 0px -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px var(--drop-shadow));
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transform: perspective(800px) rotateX(0deg);
  transition: all 0.8s ease-in-out;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  box-shadow: 0 0 0 0 var(--shadow);
}

.card:hover .back {
  transform: perspective(800px) rotateX(170deg);
  box-shadow: 0px 5px 10px 0px var(--shadow), inset 2px 0px 15px 0px var(--shadow);
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}


.heart-container {
  position: relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.heart-1 {
  position: absolute;
  background-color: red;
  filter: drop-shadow(0px 0px 5px var(--drop-shadow));
  height: 100px;
  width: 100px;
  margin: 0 auto;
  transform: rotate(-45deg);
}
.heart-1:before,
.heart-1:after {
  content: "";
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.heart-1:before{
  top: -50px
}
.heart-1:after {
  left: 50px;
}

.heart-2 {
  position: absolute;
  background-color: rgb(255, 0, 85);
  filter: drop-shadow(0px 0px 5px var(--drop-shadow));
  height: 80px;
  width: 80px;
  margin: 0 auto;
  transform: rotate(-45deg);
  top: 25px;
  left: 11px;
}
.heart-2:before,
.heart-2:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 0, 85);
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.heart-2:before{
  top: -40px
}
.heart-2:after {
  left: 40px;
}

.heart-3 {
  position: absolute;
  background-color: rgb(255, 60, 125);
  filter: drop-shadow(0px 0px 5px var(--drop-shadow));
  height: 60px;
  width: 60px;
  margin: 0 auto;
  transform: rotate(-45deg);
  top: 49px;
  left: 21px;
}
.heart-3:before,
.heart-3:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 60, 125);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.heart-3:before{
  top: -30px
}
.heart-3:after {
  left: 30px;
}
